html {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;    
}

/* Login section */
.login-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.login-container {
    background-color: #fff;
    height: 90vh;
    min-height: 90vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-img {
    width: 100%;
    background-image: url('../img/econ.jpg');    
    background-repeat: no-repeat;
    background-size: cover;    
}

.login-imgn{
    width: 100%;
    background-image: url('../img/econ.jpg');    
    background-repeat: no-repeat;
    background-size: cover;    
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form > form {
    text-align: center;
}

.title-1 {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;    
}

.subtitle i {
    font-size: 2rem; 
    color: #02013b;         
}

.subtitle h2 {
    font-size: 2rem;    
}

.logo-brand {
    width: 40%;
    border-radius: 5px;
}

.logo-brand2 {
    float: left;
    margin-left: 1%;
    width: 5%;
    border-radius: 5px;
}

.logo-brand3 {
    background-size: 64px;
    
    background-size: 1rem;
    margin-left: 1%;
    width: 5%;
    border-radius: 5px;
}

.error-container {    
    background-color: #d50000;
    width: 100%;
    margin: 0 auto;
}

.error-container h3 {
    font-size: .6rem;
}


/* Dashboard section */
a {
    color: #ffffff;
    transition: all .3s ease 0s;
}

a:hover {
    color: #0e76a7;    
}

div.buttons:hover a{
    color:#fff;
}


.actions > a {
    color: #fff;
}

.othera{
    color: #02013b; 
}

.btn {
    background-color: #02013b;    
}

.btn:hover {
    background-color: #4973b3;    
}

.btn-floating:hover{
    background-color: #4973b3;
}

.btn-safe {
    background-color: #03a9f4;
}

.btn-safe:hover {
    background-color: #0e76a7;
    color: #fff;
}

.btn-danger {
    background-color: #c62828;
}

.btn-danger:hover {
    background-color: #f44336;
    color: #fff;
}

.card-text {
    font-size: 1.1rem;    
}

.card-success {
    color: #3c763d;
}

.card-alert {
    color: #721c24;
}

.card-warning {
    color: #856404;
}

.dashboard {
    font-size: 0.875rem;
    background-color: #edf1f5;
}


.menu-container {
    position: fixed;
    height: 100vh;
    min-height: 100vh;            
    background-color: #000000e5;    
    box-shadow: 2px 0 32px rgba(0,0,0,.05);
    color: #fff;
    overflow-y: scroll;
}

.menu-container::-webkit-scrollbar {
    width: 7px;
}

.menu-container::-webkit-scrollbar-thumb {
    background-color: #47464e;
}

.menu-container::-webkit-scrollbar-track {
    background-color: #fff;
    color: #02013b;
}

.nav-wrapper {
    background-color: #02013b;    
}

.brand-logo {    
    margin-left: 1rem;
    font-size: 1.3rem !important;        
    text-transform: uppercase;
    letter-spacing: .1rem;     
}

.dropdown-content {
    margin: 1rem !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #02013b;
    display: block;
    line-height: 22px;
    padding: 14px 16px;    
}

.sidenav-container li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Sidenav */
.sidenav-container li {    
    margin: .5em;
    border-radius: 5px;
    padding: .5rem;
}



.sidenav-container .active {
    color: #0e76a7;    
}

.main-content {    
    margin-top: 2rem;    
    position: relative;    
    left: 25%;
}

.main-content-aux {    
    margin-top: 2rem;    
    position: relative;
    left: 8%;
}

.form-test {    
    /* margin-left: 5rem !important; */
    padding: 0 2rem 0 2rem !important;
}

.mb-divider {
    margin-bottom: 2rem;
}

.collapsible {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}

.collapsible-header {
    background-color: transparent;
    border: none;
    padding: 0;
}

.collapsible-body {
    border: none;
    padding: 1rem;
}

.background {
    background-color: #2b2f3a;
}


/* Table */
.table-container {    
    padding: 0 2rem 0 2rem;    
    max-width: 90%;
}

.actions {    
    margin: 0 auto;    
    display: flex;    
    align-items: center;
    justify-content: center;    
}

.actions > div {
    margin-right: 1rem;
}

.table-container .actions > a {
    margin-right: 1rem;
}

.subtitle > .left {    
    margin: 0;
}

.more-list {
    margin-bottom: 2rem;
}

.more-list a {
    color: #22252e;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.more-list a:hover {
    color: #02013b;
}


/* Form */
label.active {
    color: #02013b !important;
}

input:focus {
    border-bottom: 1px solid #02013b !important;
    box-shadow: 0 1px 0 0 #02013b !important;
}


/* Search */
.search-container {     
    margin-bottom: 3rem;
    box-shadow: none;
    border-bottom: 1px solid #473e64;
}

.input-field input[type="search"]:focus:not(.browser-default) {
    background-color: #edf1f5;
}

nav .input-field label.active i {
    color: #000;
}

.s-color {
    background-color: #edf1f5;    
}

.s-color .label-icon > i {
    color: #000;
}


/* BEACH MAP COLORS */
.beach-map-colors {    
    font-size: 1.1rem;
    width: 80%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.beach-color {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.box-color {
    height: 7px;
    width: 10px;    
    border: 1px solid #2b2f3a;
    border-radius: 2px;
    margin-right: .3rem;
}

.fuchsia {
    background-color: fuchsia !important;    
}

.green {
    background-color: seagreen !important;
}

.yellow {
    background-color: yellow !important;
}

.orange {
    background-color: orange !important;
}

.blue {
    background-color: #02013b !important;
}

.dark-blue{
    background-color: #02013b !important;
}

.violet {
    background-color: #6a56a5 !important;
}


/* Beach map container */
.beach-map {                
    width: 90%;    
}

.beach-map-container {                
    background-color: #dbd1b4;        
    border-right: 5em solid #006699;     
}

.map-container a {
    color: #2b2f3a;
}

.tents-sea-container {    
    background-color: #dbd1b4;    
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;    
}

.tent-sea {    
    font-size: 1rem;    
    height: 2rem;
    width: 3.5rem;
    margin: .2rem;    
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parasol {     
    background-color: #dbd1b4;             
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    margin: 3rem 0 0 0;   
}

.parasol-item {    
    width: 50px;
    height: 40px;
    background-color: white;
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.parasol-item .tent-sea {
    background-color: transparent;
}

.beach-hall {         
   display: grid;
   grid-template-columns: 8fr 1fr 1fr;   
}

.hall-name {    
    padding: .5rem;    
    background-color: #8E8171;      
    color: #fff;
    text-shadow: 1px 1px 4px #22252e;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.beach-tents {        
    display: grid;    
    padding: 4rem 0 2.5rem .5rem;
    grid-template-columns: repeat(16, 1fr);    
    align-items: center;    
    justify-content: center;    
    background-color: #dbd1b4;    
}

.tent {
    font-size: 1rem;    
    height: 3rem;
    margin: .2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.tent-inverse {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);    
}

.tent:hover,
.tent-sea:hover, 
.parasol-item:hover {
    background-color: #edf1f5 !important;    
}

.hall-container {
    border-left: 2.5em solid #8E8171;   
}

.last-hall .hall-container {
    border-left: 2.5em solid transparent;
}

.last-hall .hall-name {    
    position: relative;
    width: 104%;
    left: -4%;
}

/* Extra tents */
.extra-beach-tents {    
    display: grid;
    grid-template-columns: 8fr 1fr 1fr; 
}

.extra-beach-tents > .beach-tents {    
    padding: 0 0 0 2.5rem;        
    display: inline;    
    /* padding-top: .5rem;     */
}

.extra-beach-tents .tent-container {
    display: grid;        
    grid-template-columns: repeat(16, 1fr);    
    align-items: center;    
    justify-content: center;           
}

.extra-beach-tents > .tents-sea-container {    
    margin: 0;
    justify-content: flex-start;
}

.tent-special-container {    
    position: relative;
    top: -24%;
}

.tent-special-container a {
    color: #2b2f3a;
}

.last-hall .tents-sea-container {    
    justify-content: flex-start;    
    margin: 3.4rem 0 0 0;
}


/* Parking map */
.parking-map {            
    background-color: #dbd1b4;
    border-radius: 10px;
    display: grid;    
    grid-template-columns: 1fr 2fr 1fr;    
    margin: 0 8rem 0 0;    
    padding: 1.5rem;
}

.parking-map .item {    
    background-color: #ffcdd2;
    background-color: #fff;
    color: #d50000;
    height: 2rem;
    width: 2.6em;
    border: 1px solid #2b2f3a;
    margin: .05rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parking-map .item:hover {
    background-color: #e0e0e0;
}

.parking-map > .left,
.parking-map > .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parking-map > .left {
    padding-top: 3rem;
}

.parking-map > .right {
    padding-top: 5rem;
}

.center-upper {    
    display: grid;
    grid-template-columns: 1fr 1fr;      
}

.center-upper > .center-upper-left,
.center-upper > .center-upper-right {
    display: flex;
    align-items: center;    
}

.center-upper > .center-upper-right {
    justify-content: flex-end;
}

.center-first {    
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 4rem;
    padding-top: 5rem;
}

.center-first > .upper,
.center-first > .lower {
    display: flex;    
    align-items: center;
    justify-content: center;
}

.center-middle-single {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.center-middle-double {
    margin-bottom: 4rem;
}

.center-middle-double > .upper,
.center-middle-double > .last {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-lower {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* List paths */
.collapsible-body > ul {    
    text-align: left;
}


/* Pop up tents */
.tab-extra {
    margin-top: 2rem;
    font-size: 1.5rem;               
    text-align: center !important;
}

.tab-extra > div {
    display: flex;    
    align-items: center;
    justify-content: center;
}

.tab-extra i {
    font-size: 3rem;
    margin-right: .5rem;
}

.tabs .tab a:hover, 
.tabs .tab a.active {
    background-color: transparent;
    color: #6a56a5;
}

.tabs .tab a {
    color: #22252e;
}

.tabs .indicator {    
    background-color: #473e64;    
}

.tabs .tab a:focus.active {
    background-color: rgba(95, 46, 110, 0.2);    
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(87, 50, 117, 0.4);
}


/* reserve pop up */
.reserve-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reserve-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.reserve-client {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;    
}

.reserve-client > .client-subinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reserve-client > .client-subinfo i {
    font-size: 5rem;
    color: rgba(106, 86, 165, .5);
    margin-left: .5rem;
}

.reserve-client > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

.reserve-client > div > span {
    margin-bottom: .5rem;
}

.reserve-client span .title {    
    color: #6a56a5;        
}

.title-2 {
    color: #6a56a5;        
}

.future-container {    
    display: flex;
    flex-direction: column;        
}

.future-item {    
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.future-item > .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.future-item > .date {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


/* parking */
.parking-container .modal-content p {    
    font-size: 1.2rem;
}

.parking-container .modal-content .no-reservation {    
    margin: 3rem;
    font-size: 1.4rem;    
    padding: 2rem;
}

.parking-container .reserve-title i {
    margin-right: .5rem;
}

.future-reservation-parking > div {    
    width: 60%;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(95, 46, 110, 0.2);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.future-reservation-parking .client,  
.future-reservation-parking .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.future-reservation-parking .client i {
    font-size: 4rem;
}

.future-reservation-parking .date {
    align-items: flex-start;
    font-size: 1.1rem;
}

/* Mail page */
.mail-filter {    
    padding: 1rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-filter > span {
    font-size: 1.3rem;
}

/* pagination */
.pagination {
    margin-top: 3rem;
}

.pagination li.active {
    background-color: #6a56a5;
}

.fut-rsv-alert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fut-rsv-alert i {
    margin-right: .5rem;
    color: #d50000;
}

/* balance client */
.more-info-reservation {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
}

/* sales */
.sales-info {
    margin: 1rem;
    font-style: italic;
}

/* extra */
.not-results {
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;    
}

.table-double {
    font-weight: bold;
}

.table-double-total {
    font-weight: bold;
    text-decoration: underline;
}

.card-title {        
    border-bottom: 1px dashed #edf1f5;
    padding-bottom: 1rem;
}

.card-content li {
    font-size: 1rem;
    color: #edf1f5;
    margin: .6rem;
    padding-left: .5rem;
}

.card-action a {
    font-style: italic;
}

.modal-footer a {
    background-color: rgba(106, 86, 165, .2);
}







/* FULL MAP */
.beach-map-full {    
    transform: rotate(-90deg); 
}

.beach-map-full .beach-map {                
    /* width: 100%;     */
    height: 100%;
}

.beach-map-container {                
    background-color: #dbd1b4;        
    border-right: 5em solid #006699;     
}

.beach-map-full .map-container a {
    color: #2b2f3a;
}

.beach-map-full .tents-sea-container {    
    background-color: #dbd1b4;    
    /* margin: 3rem 0 0 0; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;    
}

.beach-map-full .tent-sea {    
    font-size: 1rem;    
    /* height: 2rem;
    width: 3.5rem; 
    margin: .2rem;     */
    /* height: 1.5rem; */
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beach-map-full .parasol {     
    background-color: #dbd1b4;             
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    margin: 3rem 0 0 0;   
}

.beach-map-full .parasol-item {    
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.beach-map-full .parasol-item .tent-sea {
    background-color: transparent;
}

.beach-map-full .beach-hall {         
   display: grid;
   grid-template-columns: 8fr 1fr 1fr;   
   /* height: 7.5em; */
}

.beach-map-full .hall-name {    
    padding: .4rem;    
    /* padding: 0; */
    background-color: #8E8171;      
    color: #fff;
    text-shadow: 1px 1px 4px #22252e;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.beach-map-full .beach-tents {        
    display: grid;    
    /* padding: 4rem 0 2.5rem .5rem; */
    padding-top: 1rem;
    grid-template-columns: repeat(16, 1fr);    
    align-items: center;    
    justify-content: center;    
    background-color: #dbd1b4;    
}

.beach-map-full .tent {
    /* font-size: 1rem;     */
    /* height: 3rem; */
    /* margin: .2rem; */
    font-size: .8rem;
    height: 1.5rem;    
    width: 3.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.beach-map-full .tent-inverse {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);    
}

.beach-map-full .hall-container {
    border-left: 2em solid #8E8171;   
}

.beach-map-full .last-hall .hall-container {
    border-left: 2.5em solid transparent;
}

.beach-map-full .last-hall .hall-name {    
    position: relative;
    width: 104%;
    left: -4%;
}

/* Extra tents */
.beach-map-full .extra-beach-tents {    
    display: grid;
    grid-template-columns: 8fr 1fr 1fr; 
}

.beach-map-full .extra-beach-tents > .beach-tents {    
    padding: 0 0 0 2.5rem;        
    /* padding-top: 1rem; */
    display: inline;    
    /* padding-top: .5rem;     */
}

.beach-map-full .extra-beach-tents .tent-container {
    display: grid;        
    grid-template-columns: repeat(16, 1fr);    
    align-items: center;    
    justify-content: center;           
}

.extra-beach-tents > .tents-sea-container {    
    margin: 0;
    justify-content: flex-start;
}

.beach-map-full .tent-special-container {    
    position: relative;
    /* top: -24%; */
    top: 0;
}

.tent-special-container a {
    color: #2b2f3a;
}

.beach-map-full .last-hall .tents-sea-container {    
    justify-content: flex-start;    
    margin: 3.4rem 0 0 0;
}



@media screen and (max-width: 993px) {
    .main-content {
        left: 0;
    }    

    .map-container {
        width: 100%;
    }
    
     .beach-map {
        width: 100%;
    }
    
     .beach-map-container {
        border: none;
    }
    
    .row .col.m8 {
        width: 100% ;        
    }
        
    .row .col.s12 {
        width: 100%;        
    }

    .row .col {        
        padding: 0;        
    }

    .sidenav li>a {        
        font-size: 12px;
    }
    
    .last-hall .hall-name {        
        width: 106%;
        left: -6.5%;
    }

    .beach-map-colors {
        width: 100%;
    }

    /* parking */
    .parking-map {        
        margin: 0;        
    }

    .parking-map .item {        
        height: 1.2rem;
        width: 1.7em;
        border: 1px solid #2b2f3a;
        margin: 0.2;        
    }

} 
